<div class="content-container">
  <h1>About us</h1>
  <hr />
  <div class="left-align-text">
    <p>
      Shuddhi Trust is a volunteer-run non-profit organization based in Chennai,
      India. We are committed to doing what is necessary with transparency,
      efficiency and inclusivity.
    </p>
    <p>
      Founded on 30th March 2017, we are a registered Public Charitable Trust as
      of 4th February 2021.
    </p>
    <hr />
    <small
      >Note - We were founded as <i>Shuddhi Fund</i>, but have since
      <a
        href="https://medium.com/shuddhitrust/we-are-now-shuddhi-trust-f14fd1101af0"
        rel="noopener noreferrer"
        target="_blank"
        >renamed the organisation</a
      >
      to <i>Shuddhi Trust</i> to avoid confusion regarding our registration
      status. We may not have been able to alter all references to
      <i>Shuddhi Fund</i> in our earlier publications.</small
    >
  </div>

  <hr />
  <h2><b>Our team</b></h2>
  <div id="team-container">
    <div class="team-member-card">
      <img
        class="circle-avatar"
        src="assets/images/team/ragav.jpg"
        width="50px"
        alt="ragav-profile-pic"
      />
      <span>
        <p>Ragavendra Yarasi</p>
        <small>Founder</small>
      </span>
    </div>
    <span class="clearfix"></span>
  </div>

  <br />
  <hr />
  <h2><b>Why Shuddhi Trust?</b></h2>
  <iframe
    width="560"
    height="315"
    class="video"
    src="https://www.youtube.com/embed/aisF-bJ9ELg"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <hr style="width: 20vw" />
  <br />
  <p>
    To learn about our objectives, read our
    <a
      href="https://medium.com/shuddhi-fund/our-2030-mandate-92888324e49f?source=friends_link&sk=6915d7f1efde2b063bc35a388258e4ee"
      rel="noopener noreferrer"
      target="_blank"
      ><b>2030 Mandate</b></a
    >
  </p>
  <br />
  <hr style="width: 20vw" />
  <br />
  <p>
    You can also learn more about us through our&nbsp;
    <a [href]="youtube" target="blank" rel="noreferrer noopener"
      ><i style="color: red" class="fa fa-youtube"></i> YouTube Channel</a
    >.
  </p>
</div>
