.video {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-align-text {
 text-align: left;
 margin: 5px 50px;
}

#about-stats-section > ul {
  list-style-type: none;
  text-align: left;
}

#about-stats-section > ul > li {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.circle-avatar {
  border: solid black 1px;
  border-radius: 50%;
}

#team-container {
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-member-card {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 10px;
  max-width: 250px;
  float: left;
}

.team-member-card > span > p {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 800px) {
  .video {
    width: 100%;
  }
  #team-container {
    margin: 3px;
  }
}
