#main-content {
  padding: 10px;
  margin: 50px 5px 50px 5px;
  min-height: calc(100vh - 150px);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.copyright-text,
.copyright-text-desktop {
  --copyright-text-length: 360px;
  font-size: 0.9em;
  position: absolute;
  text-align: center;
  display: block;
  left: calc(50vw - var(--copyright-text-length) / 2);
  right: calc(50vw - var(--copyright-text-length) / 2);
  color: rgba(0, 0, 0, 0.4);
}

.nav-link {
  text-decoration: none;
  color: black !important;
  padding: 10px;
}
.nav-link:hover {
  color: var(--shuddhi-color) !important;
}

.footer-links li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5) !important;
}
.footer-links li a:hover {
  color: var(--shuddhi-color) !important;
}

.desktop-only {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.mobile-only {
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .copyright-text-desktop {
    left: initial;
    right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .desktop-only {
    visibility: visible;
    width: initial;
    height: initial;
  }
  .mobile-only {
    visibility: hidden;
    width: initial;
    height: initial;
  }
}
