<div class="content-container">
  <h2>Support us</h2>
  <hr />
  <div id="support-info-container">
    <p>
      We are a small non-profit that relies entirely on contributions from the
      public. Your contributions make a lot of difference in the scale of impact
      that we are able to create.
    </p>
    <p>You can contribute in the following ways:-</p>
    <hr />
    <br />
    <div class="contribution-option-box">
      <h2>Donate</h2>
      <hr />
      <br />
      <p>
        <a [href]="donation" target="blank" rel="noreferrer noopener"
          ><img
            src="assets/images/support/donate-icon.svg"
            height="60px"
            alt="Donate to us"
        /></a>
      </p>
    </div>
    <div class="contribution-option-box">
      <h2>Volunteer</h2>
      <hr />
      <br />
      <p>
        <a [href]="volunteer" target="blank" rel="noreferrer noopener"
          ><img
            src="assets/images/support/volunteer-icon.svg"
            height="60px"
            alt="Volunteer with us"
        /></a>
      </p>
    </div>
  </div>
</div>
