// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shuddhitrust-org-primary: mat-palette($mat-indigo);
$shuddhitrust-org-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shuddhitrust-org-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shuddhitrust-org-theme: mat-light-theme(
  $shuddhitrust-org-primary,
  $shuddhitrust-org-accent,
  $shuddhitrust-org-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shuddhitrust-org-theme);

/* You can add global styles to this file, and also import other style files */
* {
  font-family: Open-sans;
  font-size: 1.02em;
}

p {
  font-size: 1.1em;
}

:root {
  --shuddhi-color: #0099ff;
}
a {
  color: var(--shuddhi-color);
}

a:hover {
  text-decoration: none;
  color: rgb(38, 101, 143);
}

.content-container {
  text-align: center;
  margin: 10px;
  font-size: 1.1em;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

.mat-snack-bar-container {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.validation-error {
  color: #f44336;
}

.notification-success {
  border: 2px solid rgba(129, 199, 132, 1);
  border-radius: 5px;
}

.notification-failure {
  border: 2px solid rgba(229, 115, 115, 1);
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .mat-snack-bar-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    bottom: 50px;
    right: 0px;
  }
  .content-container {
    margin: 5px;
  }
}

html,
body {
  height: 100%;
}
